.color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
}

.swatch {
    padding: 3px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
}

.cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.popover {
    position: absolute;
    z-index: 2;
}

.embedded-input {
    width: auto !important;
    display: inline;
}

.begin-input {
    width: 7rem;
    display: inline;
}

.end-input {
    width: 7rem;
    display: inline;
}

.duration-input {
    width: 7rem;
    display: inline;
}

.time-column {
    width: 20%;
}

.duration-column {
    width: 20%;
}

.function-column {
    width: 15%;
}

.arguments-column {
    width: 25%;
}

.operations-column {
    width: 20%;
}

.program-table {
    width: 100%;
}